* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    font-family:'Roboto', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    min-height: 100%;
}

/* main navigation */

.main-nav {
    display: flex;
    background: #000;
    height: 40px;
}

.logo {
    color: #fff;
    margin:auto 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    flex:1;
}

.main-search {
    flex:2;
    margin:5px;
}

.main-search input[type=text] {
    width: 100%;
    padding: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.main-icons {
    flex:1;
    display: flex;
    justify-content: flex-end;
}

#main-svg-add {
    fill:#fff;
    width: 30px;
    height: 30px;
    margin: 5px;

}

#main-svg-bar {
    fill:#fff;
    width: 30px;
    height: 30px;
    margin: 5px;
}


#user-nav {
    background: #ccc;
    display: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    top: 0;
    min-height: 40px;
    list-style: none;
}

.nav-item {
  margin: 10px auto;
  background-color: #fff;
  overflow: hidden;
  flex:1;
}

.nav-link {
    align-items: center;
    text-decoration: none;
    display: block;
    margin: 5px;

}
  
.nav-link:hover {
    background: ;
}

