<div class="navbar-fixed">

<nav class="blue-grey">
    <div class="container">
    <div class="nav-wrapper">

    <div class="row">
    <div class="col s3">
      <a href="{{ url_for('index')}}" class="brand-logo">mug</a>   
    </div>
    
    <form class="search-box col s6" action="{{ url_for('search')}}">
        <div class="row">
          <div class="input-field">
          <input name="search" placeholder="Search...." id="autocomplete-input" type="tel" class="validate">
        </div>
        </div>
      </form>

    <div class="row">
        <div class="col s3 ">
          <a href="!#" data-target="slide-out" class="sidenav-trigger show-on-large right"><i class="material-icons">menu</i></a>
        </div>


</div>
    </div>
  </nav>
</div>

  <ul id="slide-out" class="sidenav">
    
  </ul>