
    <nav id="user-nav">

        <ul class="navbar">
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">
        <span class="link-text">
            Home
        </span>
        </a></li>
        {% if current_user.is_anonymous %}
        {% if not islogin %}
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
        {% else %}
        {% if not isprofile %}
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
        {% endif %}
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('add_update') }}">Add</a></li>
        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
        </ul> 

    </nav>
