{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
<div class="col l8 offset-l2 ">

<div class="post-form">
    <h4>Add an update</h4>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.body(cols=50, rows=4) }}<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><a class="waves-effect waves-light btn" href="">{{ form.submit() }}</a></p>
    </form>
    {{ ckeditor.load(serve_local=True) }}
    {{ ckeditor.config(name='body') }}
    {{ ckeditor.config() }}
    </div>
</div>
</div>
</div>
{% endblock %}