{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="row">
<div class="col l10 offset-l1">
<h4>Updates</h4>
{% for a in posts.items %}
<div class="card hoverable">

<div class="card-content">

      <span class="card-title">
      <a href="{{ url_for('post_view', post_id=a.id) }}"> 
        {{ a.title }}
      </a>
      </span>
        <p>{{ a.body | safe  }}</p><br>
        <P>{{ a.author.username }} at {{ a.timestamp }}</P>
</div></div>

{% endfor %}


<ul class="pagination">
  {% for page_num in posts.iter_pages() %}
  {% if page_num %}
  <li>
    <a class="waves-effect" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
  </li>
  {% else %}
    ...
  {% endif %}
{% endfor %}
</ul>

</div>
</div>
</div>
</div>
{% endblock %}